{
    # Use DNS-01 challenge for SSL (Internal-only HTTPS)
}

(google_auth) {
    forward_auth oauth2-proxy:4180 {
        uri /oauth2/auth
        copy_headers X-Auth-Request-User X-Auth-Request-Email
    }
}

# The Login Gatekeeper
auth.carlolm.com {
    reverse_proxy oauth2-proxy:4180
}

infra.carlolm.com {
    import google_auth
    reverse_proxy host.docker.internal:8080
}

# Nutrition Front-end
nutrition.carlolm.com {
    import google_auth
    reverse_proxy host.docker.internal:3000
}

# Nutrition Back-end (API)
api-nutrition.carlolm.com {
    import google_auth
    reverse_proxy host.docker.internal:8000
}

news.carlolm.com {
    import google_auth
    reverse_proxy host.docker.internal:5001
}
